<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# CSV - Read a csv file
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/CSV/Read_a_csv_file.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #csv #pandas #read #opendata #johnshopkins

## Input

### Import library

In [1]:
import pandas

### Variable

In [2]:
csv_path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

## Model

### Read the CSV from path

You want to add more parameters ?<br>
ðŸ‘‰ Check out the pandas documentation <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html">here</a>.

In [3]:
df = pandas.read_csv(csv_path)

## Output

### Display result

In [4]:
df.head(5) #read the first 5 lines

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/12/22,2/13/22,2/14/22,2/15/22,2/16/22,2/17/22,2/18/22,2/19/22,2/20/22,2/21/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,170152,170604,171246,171422,171519,171673,171857,171931,172205,172441
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,267551,268008,268304,268491,268940,269301,269601,269904,270164,270370
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,261226,261752,262165,262570,262994,263369,263685,263936,264054,264201
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,37140,37140,37277,37361,37452,37522,37589,37589,37589,37589
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,98514,98514,98514,98555,98568,98585,98605,98617,98638,98658