<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# CSV - Save file
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/CSV/Read_a_csv_file.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #csv #pandas #save #opendata #johnshopkins

## Input

### Import library

In [1]:
import pandas

### Variable

In [2]:
# Input
csv_path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

# Output
csv_output_path = "data.csv"

## Model

### Read the CSV from path

You want to add more parameters ?<br>
ðŸ‘‰ Check out the pandas documentation <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html">here</a>.

In [3]:
df = pandas.read_csv(csv_path)
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/12/22,2/13/22,2/14/22,2/15/22,2/16/22,2/17/22,2/18/22,2/19/22,2/20/22,2/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,170152,170604,171246,171422,171519,171673,171857,171931,172205,172441
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,267551,268008,268304,268491,268940,269301,269601,269904,270164,270370
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,261226,261752,262165,262570,262994,263369,263685,263936,264054,264201
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,37140,37140,37277,37361,37452,37522,37589,37589,37589,37589
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,98514,98514,98514,98555,98568,98585,98605,98617,98638,98658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,600128,600128,613846,618527,622175,625028,627956,627956,627956,633684
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,498,501,501,505,507,507,508,508,509,509
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11664,11671,11679,11699,11707,11718,11731,11731,11736,11741
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,309293,309502,309579,309870,310155,310474,310764,311016,311194,311264
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,231299,231381,231603,231603,232213,232598,233030,233224,233352,233571

## Output

You want to add more parameters ?<br>
ðŸ‘‰ Check out the pandas documentation <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html">here</a>.

In [4]:
df.to_csv(csv_output_path)
print(f'ðŸ’¾ Excel '{csv_output_path}' successfully saved in Naas.')

ðŸ’¾ Excel data.csv successfully saved in Naas.