<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Vizzu - Create Grouped Column Chart
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/template.ipynb" target="_parent">
<img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/>
</a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=bug_report.md&title=[ERROR]+Tool+/+Folder+Action+of+the+notebook+">Bug report</a>

**Tags:** #analytics #dataviz #chart #graph #groupedbarchart

**Author:** [Jeremy Ravenel](https://www.linkedin.com/in/jeremyravenel/)

**Description:** This notebook template on Vizzu is designed to help users create visually appealing grouped column charts. Vizzu is a powerful data visualization tool that allows users to easily create interactive and engaging charts and graphs

**References:**
- [Vizzu Documentation](https://ipyvizzu.vizzuhq.com/latest/examples/)

## Input

### Import libraries

In [1]:
import naas
import pandas as pd
try:
    from ipyvizzu import Chart, Data, Config, Style
except:
    !pip install ipyvizzu --user
    from ipyvizzu import Chart, Data, Config, Style

### Setup variables
- `file_path`: CSV file with the data
- `title`: title of the chart
- `label`: label to be set (x axis)
- `value`: value to be set (y axis)
- `html_output`: HTML output path

In [2]:
# Inputs
file_path = "https://ipyvizzu.vizzuhq.com/0.15/assets/data/chart_types_eu_data_6.csv"
title = "Grouped Column Chart"
x_axis = "Country"
y_axis = "Value 5 (+/-)"
groupedBy = "Joy factors"

# Outputs
html_output = "Vizzu_Create_Grouped_Column_Chart.html"

In [3]:
df = pd.read_csv(file_path, dtype={"Year": str, "Timeseries": str},
)
df

,Country_code,Country,Joy factors,Year,Value 2 (+),Value 1 (+),Value 3 (+),Value 5 (+/-),Value 4 (+/-),Value 6 (+/-),index
0,AT,Austria,Happiness,01,6,0.1122,8223696,-6,-0.1122,8223696,1
1,AT,Austria,Happiness,02,8,0.0918,64573220,-8,-0.0918,-64573220,1
2,AT,Austria,Happiness,03,16,0.0918,82882182,-16,0.0918,82882182,1
3,AT,Austria,Happiness,04,17,0.0969,94046233,17,-0.0969,-94046233,1
4,AT,Austria,Happiness,05,8,0.0918,3760493,8,0.0918,3760493,1
...,...,...,...,...,...,...,...,...,...,...,...
499,DK,Denmark,Love,17,12,0.3093,82234135,-12,0.3093,82234135,1
500,DK,Denmark,Love,18,21,0.5189,92275496,-21,0.5189,-92275496,1
501,DK,Denmark,Love,19,10,0.2816,275775550,10,0.2816,-275775550,1
502,DK,Denmark,Love,20,9,0.3393,149952050,9,0.3393,149952050,1
503,DK,Denmark,Love,21,4,0.1666,154367641,-4,-0.1666,154367641,1

## Model

### Generate chart

In [4]:
# initialize Chart
chart = Chart(width="640px", height="360px", display="manual")

# add data to Chart
data = Data()
data.add_data_frame(df)
chart.animate(data)
 
# add config to Chart
chart.animate(data)
chart.animate(
    Config.groupedColumn(
        {
            "x": x_axis,
            "y": y_axis,
            "groupedBy": groupedBy,
            "title": title,
        }
    )
)

# add style to Chart
chart.animate(Style({"title": {"fontSize": 25}}))

# display Chart
chart.show()

## Output

### Export chart in HTML

In [5]:
chart._showed = False
rawhtml = chart._repr_html_()

with open(html_output, "w", encoding="utf8") as file_desc:
    file_desc.write(rawhtml)

### Create shareable asset with Naas

In [6]:
naas.asset.add(html_output, params={"inline": True})

👌 Well done! Your Assets has been sent to production.

Button(button_style='primary', description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete

'https://public.naas.ai/amVyZW15LTQwbmFhcy0yRWFp/asset/8f93c484a0d97f2953931cd2f977829225794c888fdc7030f3ddb32254e8'