<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Notion - Metrics store

This notebook enables you to get a dataframe of all metrics store

**Tags:** #notion #metrics

**Author:** [Sanjeet Attili](https://linkedin.com/in/sanjeet-attili-760bab190/)

## Input

### Imports

In [2]:
import pandas as pd
from naas_drivers import notion

### Variables

In [3]:
token = "secret_J9JIQksrylGmJpErmw49A7U9ON1lIdGLjbVk6tDFh2y"
database_url = "https://www.notion.so/naas-official/11eb7a1998a74ee18c448cbe1d646199?v=87e1c94f173644cf8e0f877478c4a204"

## Model

In [4]:
database = notion.connect(token).database.get(database_url)
df_notion = database.df()
df_notion.head()

,Status,Integrations,Domain,Output,Tools,Name
0,,,,,Group,
1,üèÜ Sponsor,"Odoo, Netsuite",Finance,"Slack, Notion, Email, PNG, HTML, CSV, Excel",Group,Return on Assets (ROA)
2,üü¢ Published,"Twitter, LinkedIn, Youtube, Tiktok",Creators,"Slack, Notion, Email, PNG, HTML, CSV, Excel, A...",Group,Number of Content Published
3,üèÜ Sponsor,"Odoo, Netsuite",Finance,"Slack, Notion, Email, PNG, HTML, CSV, Excel",Group,Fixed Asset Turnover Ratio
4,üèÜ Sponsor,Stripe,Sales,"Slack, Notion, Email, PNG, HTML, CSV, Excel",Group,Churned revenue

In [54]:
# pd.pivot_table(df_notion, index="Integrations", columns="Status", values="Name", aggfunc='')
# x = df_notion.groupby(['Integrations'])['Name']
# for integ, df in x:
#     print(integ)
#     print(df)
#     print()
# df_notion.Integrations.unique()
df_notion[df_notion['Integrations']=='Twitter, LinkedIn, Youtube, Tiktok']['Name']

2         Number of Content Published
8              Social Shares per Post
15              Number of connections
67     Average Inbound Links per Post
85             Average Views per Post
88          Average Comments per Post
95               Total Content Views
107                   Engagement rate
Name: Name, dtype: object

## Output