In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [25]:
# Use Beautiful Soup to Import Data from Draft Kings

In [2]:
URL = 'https://sportsbook.draftkings.com/leagues/basketball/88670846'

page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")

In [3]:
results = soup.find(id='root')

In [4]:
div = results.find_all('div', class_='parlay-card-10-a')

In [26]:
# Separate Elements

In [5]:
teams = []
lines = []

for element in div:
    team = element.find_all("div", class_="event-cell__name-text")
    teams.append(f'{team}')
    line = element.find_all("span", class_="sportsbook-odds american no-margin default-color")
    lines.append(f'{line}')

In [27]:
# Clean Team Element

In [6]:
team_a = teams[0]
team_b = teams[1]
team_list_a = team_a.split(", ")
team_list_b = team_b.split(",")

In [7]:
team_list2_a = []
team_list2_b = []

for t in team_list_a:
    new = t[:-6]
    team_list2_a.append(new)

for t in team_list_b:
    new = t[:-6]
    team_list2_b.append(new)

In [8]:
team_list3_a = []
team_list3_b = []

for x in team_list2_a:
    new = x[35:]
    team_list3_a.append(new)

for x in team_list2_b:
    new = x[35:]
    team_list3_b.append(new)

In [9]:
team_list4_a = [q.replace('>', '') for q in team_list3_a]
dk_team_names_a = [q.replace('<', '') for q in team_list4_a]

team_list4_b = [q.replace('>', '') for q in team_list3_b]
dk_team_names_b = [q.replace('<', '') for q in team_list4_b]

In [10]:
dk_team_names_a.extend(dk_team_names_b)

In [11]:
# Change Team Names to Match with 3-letter Code

new1 = [team.replace('CLE Cavaliers', 'CLE') for team in dk_team_names_a]
new2 = [team.replace('CHI Bulls', 'CHI') for team in new1]
new3 = [team.replace('MIN Timberwolves', 'MIN') for team in new2]
new4 = [team.replace('MIA Heat', 'MIA') for team in new3]
new5 = [team.replace('IND Pacers', 'IND') for team in new4]
new6 = [team.replace('SA Spurs', 'SAS') for team in new5]
new7 = [team.replace('MIL Bucks', 'MIL') for team in new6]
new8 = [team.replace('GS Warriors', 'GSW') for team in new7]
new9 = [team.replace('SAC Kings', 'SAC') for team in new8]
new10 = [team.replace('UTA Jazz', 'UTA') for team in new9]
new11 = [team.replace('TOR Raptors', 'TOR') for team in new10]
new12 = [team.replace('DEN Nuggets', 'DEN') for team in new11]
new13 = [team.replace('WAS Wizards', 'WAS') for team in new12]
new14 = [team.replace('POR Trail Blazers', 'POR') for team in new13]
new15 = [team.replace('NY Knicks', 'NYK') for team in new14]
new16 = [team.replace('BKN Nets', 'BRK') for team in new15]
new17 = [team.replace('LA Clippers', 'LAC') for team in new16]
new18 = [team.replace('DET Pistons', 'DET') for team in new17]
new19 = [team.replace('DAL Mavericks', 'DAL') for team in new18]
new20 = [team.replace('BOS Celtics', 'BOS') for team in new19]
new21 = [team.replace('PHI 76ers', 'PHI') for team in new20]
new22 = [team.replace('ORL Magic', 'ORL') for team in new21]
new23 = [team.replace('MEM Grizzlies', 'MEM') for team in new22]
new24 = [team.replace('OKC Thunder', 'OKC') for team in new23]
new25 = [team.replace('HOU Rockets', 'HOU') for team in new24]
new26 = [team.replace('NO Pelicans', 'NOP') for team in new25]
new27 = [team.replace('LA Lakers', 'LAL') for team in new26]
new28 = [team.replace('ATL Hawks', 'ATL') for team in new27]
new29 = [team.replace('PHO Suns', 'PHO') for team in new28]
new30 = [team.replace('CHA Hornets', 'CHA') for team in new29]

In [12]:
teams_today = new30

In [ ]:
# Clean Lines Element

In [13]:
line_a = lines[0]
line_b = lines[1]
line_list_a = line_a.split(", ")
line_list_b = line_b.split(", ")

In [14]:
line_list2_a = []
line_list2_b = []

for t in line_list_a:
    new = t[:-6]
    line_list2_a.append(new)

for t in line_list_b:
    new = t[:-6]
    line_list2_b.append(new)

In [15]:
line_list3_a = []
line_list3_b = []

for x in line_list2_a:
    new = x[63:]
    line_list3_a.append(new)

for x in line_list2_b:
    new = x[63:]
    line_list3_b.append(new)

In [16]:
line_list4_a = [q.replace('>', '') for q in line_list3_a]
line_list5_a = [q.replace('/', '') for q in line_list4_a]
dk_lines_a = [q.replace('<', '') for q in line_list5_a]

line_list4_b = [q.replace('>', '') for q in line_list3_b]
line_list5_b = [q.replace('/', '') for q in line_list4_b]
dk_lines_b = [q.replace('<', '') for q in line_list5_b]

In [17]:
dk_lines_a.extend(dk_lines_b)

In [18]:
lines_today = dk_lines_a

In [ ]:
# Check that there is the same number of lines as their is games

In [19]:
correct_num_games = len(lines_today)

In [20]:
correct_teams_today = []

if len(teams_today) > len(lines_today):
    correct_teams_today = teams_today[:correct_num_games]
else:
    correct_teams_today = teams_today

In [28]:
# Combining The Two Elements

In [21]:
team1 = correct_teams_today[1::2]
team2 = correct_teams_today[::2]

In [22]:
team1_line = lines_today[1::2]
team2_line = lines_today[::2]

In [23]:
combined_list = pd.DataFrame(
    {'team1' : team1, 
    'team2' : team2, 
    'team1_line' : team1_line, 
    'team2_line' : team2_line
})

In [24]:
combined_list

  team1 team2 team1_line team2_line
0   CHA   ORL      -1000       +650
1   MIL   BOS       -265       +215
2   TOR   PHI       +100       -120
3   MIN   SAS       -365       +280
4   NOP   POR      -2200      +1100
5   DEN   MEM       -190       +160
6   GSW   LAL       -900       +600