<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Cloud Mercato - Compare VM pricing
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/template.ipynb" target="_parent">
<img src="https://img.shields.io/badge/-Open%20in%20Naas-success?labelColor=000000&logo="/>
</a>

**Tags:** #cloud #infrastruture #pricing #vm #iaas #analytics #compute

**Author:** [Anthony Monthe](https://www.linkedin.com/in/anthonymonthe/)

With this notebook, you will be able to get a table of all the major VMs using RAM and CPU as an input, and get all the pricing and billing options as output.<br>
*Disclaimer: prices are the latest collected by Cloud-Mercato*

## Input

### Import libraries

In [44]:
import requests
import pandas as pd
import naas

### Setup Variables

- [Create your token](graphql.cloud-mercato.com)
- You can access data without a token but you are limited to 3 requests/days
- Get a paid account to have access to VM with +16 CPUs

In [45]:
# Input
CPU = 4 #  in CPU number
RAM = 2  # in GB
# Anonymous users are limited
TOKEN = None

# Output
csv_output = "cloud-mercato-vm-pricing.csv"

## Model

### Declare constants

In [46]:
COLUMN_PARAMS = {
    "table-col-provider": "on",
    "table-col-name": "on",
    "table-col-cpu_number": "on",
    "table-col-ram": "on",
    "table-col-hourly": "on",
    "table-col-monthly": "on",
    "table-col-yearly1_noupfront": "on",
    "table-col-yearly1_parupfront": "on",
    "table-col-yearly1_parupfront_fee": "on",
    "table-col-yearly1_allupfront_fee": "on",
    "table-col-yearly2_noupfront": "on",
    "table-col-yearly2_parupfront": "on",
    "table-col-yearly2_parupfront_fee": "on",
    "table-col-yearly2_allupfront_fee": "on",
    "table-col-yearly3_noupfront": "on",
    "table-col-yearly3_parupfront": "on",
    "table-col-yearly3_parupfront_fee": "on",
    "table-col-yearly3_allupfront_fee": "on",
    "table-col-currency": "on",
    "table-col-rate": "on",
}

In [47]:
FILTER_PARAMS = {
    "cpu_number_min": CPU,
    "cpu_number_max": CPU,
    "ram_min": RAM-1,
    "ram_max": RAM+1,
    "currency-currency": "USD"
}

### Get data using request

In [48]:
params = {}
params.update(COLUMN_PARAMS)
params.update(FILTER_PARAMS)

headers = {}
if TOKEN:
    headers['Authorization'] = 'Token %s' % TOKEN

response = requests.get('https://p2p.cloud-mercato.com/flavors/csv', params=params, headers=headers, stream=True)
if response.status_code == 429:
    raise Exception("Download is limited for free users. Please wait or subscribe.")
    
df = pd.read_csv(response.raw)

print("Shape: ", df.shape)
df

Shape:  (11, 20)

,Provider,Name,CPU,RAM,Hourly,Monthly,Yearly no up.,Yearly par up.,Yearly par up. fee,Yearly all up.,2-Years no up.,2-Years par up.,2-Years par up. fee,2-Years all up.,3-Years no up.,3-Years par up.,3-Years par up. fee,3-Years all up.,Currency,Rate
0,Oracle,VM.Standard.A1.Flex.4-1,4,1024,0.0220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
1,Oracle,VM.Standard.A1.Flex.4-2,4,2048,0.0230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
2,Oracle,VM.Standard.A1.Flex.4-3,4,3072,0.0240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
3,Oracle,VM.Standard.E3.Flex.2-1,4,1024,0.0520,37.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
4,Oracle,VM.Standard.E3.Flex.2-2,4,2048,0.0530,38.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
5,Oracle,VM.Standard.E3.Flex.2-3,4,3072,0.0550,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
6,Oracle,VM.Standard.E4.Flex.2-1,4,1024,0.0520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
7,Oracle,VM.Standard.E4.Flex.2-2,4,2048,0.0530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
8,Oracle,VM.Standard.E4.Flex.2-3,4,3072,0.0550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1.00
9,Scaleway,ARM64-2GB,4,2048,0.0058,4.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR,0.97
10,Scaleway,C1,4,2048,0.0058,4.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR,0.97

## Output

### Save result in csv

In [49]:
df.to_csv(csv_output, index=False)

### Share csv output with naas

In [50]:
naas.asset.add(csv_output)

#-> Uncomment the line below to remove your asset
# naas.asset.delete()

👌 Well done! Your Assets has been sent to production.

Button(button_style='primary', description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete

'https://public.naas.ai/YW50aG9ueS00MGNsb3VkLTJEbWVyY2F0by0yRWNvbQ==/asset/2e2db297e523bf388984dce795b3c5253beb2a96ce1e97762bf1062ad502'