<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Create a Pivot Table

#pivot #pandas #python

## Input

### Import library

In [10]:
import pandas as pd

### Variables

In [12]:
df = pd.DataFrame(
    {
        "item": ["apple", "apple", "apple", "apple", "apple"],
        "size": ["small", "small", "large", "large", "large"],
        "location": ["Walmart", "Aldi", "Walmart", "Aldi", "Aldi"],
        "price": [3, 2, 4, 3, 2.5],
    }
)
df

    item   size location  price
0  apple  small  Walmart    3.0
1  apple  small     Aldi    2.0
2  apple  large  Walmart    4.0
3  apple  large     Aldi    3.0
4  apple  large     Aldi    2.5

## Model

### Function

In [14]:
pivot = pd.pivot_table(
    df, values="price", index=["item", "size"], columns=["location"], aggfunc="mean"
)

## Output

### Display result

In [15]:
pivot

location     Aldi  Walmart
item  size
apple large  2.75      4.0
      small  2.00      3.0