In [4]:
import pandas as pd
import naas

In [2]:
sealevel = naas.assets.get('')

In [3]:
sealevel

   Unnamed: 0 DATE_PROCESSED  INDICATOR     VALUE
0           0     2021-05-27  Sea Level  4.951165