<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Python - Create DataFrame from 2 lists
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Python/Python_Looping_Over_Dataframe.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #python #list #dataframe #snippet #pandas

**Author:** [Florent Ravenel](https://www.linkedin.com/in/ACoAABCNSioBW3YZHc2lBHVG0E_TXYWitQkmwog/)

Here below you will find how to create a pandas DataFrame from two lists in Python.

## Input

### Import libraries

In [2]:
import pandas as pd

### Variables

In [6]:
# Setup your columns name
col_key = "KEYS"
col_value = "VALUE"

### Lists

In [7]:
keys = [1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
value = [219, 146, 112, 127, 124, 180, 236, 207, 236, 263, 350, 430, 474, 526, 488, 537, 500, 439]

## Model

### Create zip iterator

In [8]:
# Call zip(iter1, iter2) with one list as iter1 and another list as iter2 to create a zip iterator containing pairs of elements from the two lists.
zip_iterators = zip(keys, value)

## Output

### Create dataframe

In [9]:
df = pd.DataFrame(zip_iterators, columns=[col_key, col_value])
df

    KEYS  VALUE
0   1995    219
1   1996    146
2   1997    112
3   1998    127
4   1999    124
5   2000    180
6   2001    236
7   2002    207
8   2003    236
9   2004    263
10  2005    350
11  2006    430
12  2007    474
13  2008    526
14  2009    488
15  2010    537
16  2011    500
17  2012    439