<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Python - Convert CSV to Excel
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/template.ipynb" target="_parent">
<img src="https://img.shields.io/badge/-Open%20in%20Naas-success?labelColor=000000&logo="/>
</a>

**Tags:** #python #csv #excel #pandas #file

**Author:** [Sophia Iroegbu](www.linkedin.com/in/sophia-iroegbu)

The objective of this notebook is to convert a CSV file into an Excel file.

## Input

### Import library

XLWT and OpenPYXL are python libraries to read and write Excel xlsx and xlsm files.

In [1]:
# #Install XLWT and OpenPYXL package
# !pip install xlwt
# !pip install openpyxl

import pandas as pd

### Variables

In [6]:
# Declare the absolute path to the CSV file
csv_input = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

# Name the XSLX spreasheet needed as an output
excel_output = 'covid_dataset.xlsx'

## Model

### Use pandas to: 
- read the CSV file link, 
- then convert it to Excel spreadsheet file by using the `to_excel` function. 

The `sep` argument helps to seperate the rows. It might be a `,` or a `;` and also, ensure the CSV link ends with a CSV file extension.

In [7]:
convert_csv = pd.read_csv(csv_input, sep=",")
convert_csv

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/22,10/2/22,10/3/22,10/4/22,10/5/22,10/6/22,10/7/22,10/8/22,10/9/22,10/10/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,199310,199386,199545,199690,199845,199994,200130,200202,200372,200469
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,332263,332285,332290,332337,332372,332410,332443,332472,332494,332503
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,270676,270679,270682,270690,270693,270697,270701,270701,270707,270713
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46227,46227,46227,46227,46227,46275,46275,46275,46275,46275
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,702768,702768,702768,702768,702804,702804,702804,702804,702804,702804
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11935,11935,11935,11935,11939,11939,11939,11939,11939,11939
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333549,333549,333555,333555,333555,333555,333555,333555,333555,333624
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257465,257517,257538,257568,257568,257655,257655,257655,257655,257749

## Output

### Save result in .xlsx file

The `header=True` ensures the header from CSV file is converted. This saves the .xlsx file on your root directory.

In [ ]:
convert_csv.to_excel(excel_output, index=False, header=True)