<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Wikipedia - List of largest cities in the world

**Tags:** #wikipedia #list #cities #largest #world #data

**Author:** [Florent Ravenel](http://linkedin.com/in/florent-ravenel)

**Description:** This notebook will show how to extract the list of the largest cities in the world using pandas.read_html() on Wikipedia.

**References:**
- [List of cities by population](https://en.wikipedia.org/wiki/List_of_cities_by_population)

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup Variables
- `url`: URL of the Wikipedia page containing the list of cities by population

In [2]:
# Inputs
url = "https://en.wikipedia.org/wiki/List_of_cities_by_population"

## Model

### Extract table

In [6]:
df_table = pd.read_html(url)[1]
print('Rows fetched:', len(df_table))

Rows fetched: 82

### Clean table

In [7]:
df_clean = df_table.copy()

# Dropna
df_clean = df_clean.dropna()

# # Flattern MultiIndex columns
# df_clean.columns = df_clean.columns.get_level_values(1)

print('Cities fetched:', len(df_clean))
df_clean.head(5)

Cities fetched: 81

       City[a] Country UN 2018 population estimates[b]         City proper[c]  \
       City[a] Country UN 2018 population estimates[b]             Definition
1        Tokyo   Japan                      37468000.0  Metropolis prefecture
2        Delhi   India                      28514000.0           Capital City
3     Shanghai   China                      25582000.0           Municipality
4    São Paulo  Brazil                      21650000.0           Municipality
5  Mexico City  Mexico                      21581000.0             City-state

                                                                      \
  Population Area .mw-parser-output .nobold{font-weight:normal}(km2)
1   13515271                                               2191
2   16753235                                               1484
3   24870895                                               6341
4   12252023                                               1521
5    9209944                                               1485

                  Urban area[8]                            \
   Density (/km2)    Population Area (km2) Density (/km2)
1      6,169 [13]      37732000       8231      4,584 [e]
2     11,289 [15]      32226000       2344     13,748 [f]
3  3,922 [17][18]      24073000       4333      5,556 [g]
4      8,055 [19]      23086000       3649      6,327 [h]
5      6,202 [21]      21804000       2530           8618

  Metropolitan area[d]
            Population Area (km2) Density (/km2)
1             37274000      13452     2,771 [14]
2             29000000       3483     8,326 [16]
3                    —          —              —
4             21734682       7947     2,735 [20]
5             21804515       7866     2,772 [22]

## Output

### Display result

In [5]:
df_clean.head(5)

       City[a] Country UN 2018 population estimates[b]         City proper[c]  \
       City[a] Country UN 2018 population estimates[b]             Definition
1        Tokyo   Japan                      37468000.0  Metropolis prefecture
2        Delhi   India                      28514000.0           Capital City
3     Shanghai   China                      25582000.0           Municipality
4    São Paulo  Brazil                      21650000.0           Municipality
5  Mexico City  Mexico                      21581000.0             City-state

                                                                      \
  Population Area .mw-parser-output .nobold{font-weight:normal}(km2)
1   13515271                                               2191
2   16753235                                               1484
3   24870895                                               6341
4   12252023                                               1521
5    9209944                                               1485

                  Urban area[8]                            \
   Density (/km2)    Population Area (km2) Density (/km2)
1      6,169 [13]      37732000       8231      4,584 [e]
2     11,289 [15]      32226000       2344     13,748 [f]
3  3,922 [17][18]      24073000       4333      5,556 [g]
4      8,055 [19]      23086000       3649      6,327 [h]
5      6,202 [21]      21804000       2530           8618

  Metropolitan area[d]
            Population Area (km2) Density (/km2)
1             37274000      13452     2,771 [14]
2             29000000       3483     8,326 [16]
3                    —          —              —
4             21734682       7947     2,735 [20]
5             21804515       7866     2,772 [22]