<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Get n smallest

**Tags:** #pandas #dataframe #nsmallest #python #data #analysis

**Author:** [Benjamin Filly](https://www.linkedin.com/in/benjamin-filly-05427727a/)

**Description:** This notebook explains how to use the `nsmallest` function from the Pandas library to get the n smallest values from a DataFrame. This is usefull for data analysis and data manipulation.

**References:**
- [Pandas Documentation - nsmallest](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nsmallest.html)
- [Stack Overflow - nsmallest](https://stackoverflow.com/questions/50995090/pandas-dataframe-nsmallest-function)

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup Variables

- `data`: A dictionary that holds the dataset with information about individuals, including their names and ages.
- `df`:  A DataFrame created from the `data` dictionary, representing the dataset in a tabular form with columns for name and age.

In [2]:
# Create a fake dataset
data = {"Name": ["Tom", "nick", "krish", "jack"], "Age": [20, 21, 19, 18]}
# Create a DataFrame
df = pd.DataFrame(data)

## Model

### Get n smallest values

The `nsmallest` function from the Pandas library allows to get the n smallest values from a DataFrame.

In [3]:
# Get the 2 smallest values
result = df.nsmallest(n=2, columns=['Age'], keep='first').sort_values(by='Age')

## Output

### Display result

The result of the `nsmallest` function is a DataFrame containing the n smallest values.

In [4]:
# Display the result
result

    Name  Age
3   jack   18
2  krish   19