<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Drop Columns in DataFrame
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/template.ipynb" target="_parent">
<img src="https://img.shields.io/badge/-Open%20in%20Naas-success?labelColor=000000&logo="/>
</a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=bug_report.md&title=[ERROR]+Tool+/+Folder+Action+of+the+notebook+">Bug report</a>

**Tags:** #pandas #snippet #datacleaning #operations

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

**Description:** This notebook shows how to define a new DataFrame that drops columns defined in Input section.

<u>Reference:</u> https://www.statology.org/pandas-keep-columns/

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup DataFrame

In [2]:
#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'A', 'B', 'B', 'B'],
                   'points': [11, 7, 8, 10, 13, 13],
                   'assists': [5, 7, 7, 9, 12, 9],
                   'rebounds': [11, 8, 10, 6, 6, 5]})
df

  team  points  assists  rebounds
0    A      11        5        11
1    A       7        7         8
2    A       8        7        10
3    B      10        9         6
4    B      13       12         6
5    B      13        9         5

### Define columns to drop

In [3]:
# list of columns to drop in dataframe
to_drop = ['team', 'points', "blocks"]

## Model

### Create new DataFrame that drops defined columns
You can't set one column that does not exists in your dataframe so we managed it in the function below.

In [4]:
def drop_columns(df, to_drop):
    # Check if all columns exist in dataframe
    for c in to_drop:
        if c in df.columns:
            df[c] = df.drop(c, axis=1)
    else:
        print(f"ðŸš¨ Columns '{x}' does not exist in DataFrame -> removed from your list!")
    return df

## Output

### View new DataFrame

In [5]:
df1 = drop_columns(df, to_keep)
df1

ðŸš¨ Columns 'blocks' does not exist in DataFrame -> removed from your list!

  team  points
0    A      11
1    A       7
2    A       8
3    B      10
4    B      13
5    B      13