<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Get n largest

**Tags:** #pandas #dataframe #nlargest #python #data #analysis

**Author:** [Benjamin Filly](https://www.linkedin.com/in/benjamin-filly-05427727a/)

**Description:** This notebook will demonstrate how to use the `nlargest` function in Pandas to get the n largest values from a DataFrame. This is useful for data analysis and data manipulation.

**References:**
- [Pandas Documentation - nlargest](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nlargest.html)
- [Stack Overflow - nlargest](https://stackoverflow.com/questions/15741759/find-maximum-value-of-a-column-and-return-the-corresponding-row-values-using-pan)

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup Variables

- `n`: Number of items to retrieve.
- `column`: Column name or names to order by.

In [2]:
n = 2
column = "Age"

## Model

### Create dataframe

In [3]:
# Create a fake dataset
data = {"Name": ["Tom", "nick", "krish", "jack"], "Age": [20, 21, 19, 18]}
# Create a DataFrame
df = pd.DataFrame(data)

## Output

### Get n largest

The `nlargest` function can be used to get the n largest values from a DataFrame. The two largest values are displayed below.

In [4]:
# D
df.nlargest(n, column)

   Name  Age
1  nick   21
0   Tom   20