<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Iterate over DataFrame rows as namedtuples
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandas/Pandas_Iterate_over_DataFrame_rows.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=bug&template=bug_report.md&title=Pandas+-+Iterate+over+DataFrame+rows:+Error+short+description">Bug report</a> | <a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Naas/Naas_Start_data_product.ipynb" target="_parent">Generate Data Product</a>

**Tags:** #pandas #python #loops #snippet #operations #namedtuples #dataframe

**Author:** [Benjamin Filly](https://www.linkedin.com/in/benjamin-filly-05427727a/)

**Description:** This notebook demonstrates how to iterate over DataFrame rows as namedtuples

**References:**
- [Pandas - DataFrame.itertuples](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.itertuples.html)

## Input

### Import libraries

In [1]:
import pandas as pd
import numpy as np
from collections import namedtuple

## Model

### Create Sample Dataframe

In [2]:
dict1 = {
    "student_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "student_name": [
        "Peter",
        "Dolly",
        "Maggie",
        "David",
        "Isabelle",
        "Harry",
        "Akin",
        "Abbey",
        "Victoria",
        "Sam",
    ],
    "student_course": np.random.choice(["Biology", "Physics", "Chemistry"], size=10),
}

df = pd.DataFrame(dict1)
df

   student_id student_name student_course
0           1        Peter        Physics
1           2        Dolly      Chemistry
2           3       Maggie      Chemistry
3           4        David        Physics
4           5     Isabelle        Physics
5           6        Harry        Biology
6           7         Akin        Biology
7           8        Abbey        Physics
8           9     Victoria        Biology
9          10          Sam        Physics

### Definition of namedtuple

In [3]:
Student = namedtuple("Student", ["index"] + df.columns.tolist())

## Output

### Display result

In [4]:
for row in df.itertuples(index=True, name="Student"):
    student = Student(*row)
    print("Index:", student.index)
    print("Student ID:", student.student_id)
    print("Name:", student.student_name)
    print("Course:", student.student_course)
    print()

Index: 0
Student ID: 1
Name: Peter
Course: Physics

Index: 1
Student ID: 2
Name: Dolly
Course: Chemistry

Index: 2
Student ID: 3
Name: Maggie
Course: Chemistry

Index: 3
Student ID: 4
Name: David
Course: Physics

Index: 4
Student ID: 5
Name: Isabelle
Course: Physics

Index: 5
Student ID: 6
Name: Harry
Course: Biology

Index: 6
Student ID: 7
Name: Akin
Course: Biology

Index: 7
Student ID: 8
Name: Abbey
Course: Physics

Index: 8
Student ID: 9
Name: Victoria
Course: Biology

Index: 9
Student ID: 10
Name: Sam
Course: Physics