<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Transform dataframe to dict
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandas/Pandas_Transform_dataframe_to_dict.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #pandas #dict #snippet #yahoofinance #naas_drivers #operations #jupyternotebooks

**Author:** [Ismail Chihab](https://www.linkedin.com/in/ismail-chihab-4b0a04202/)

With this template, you can convert dataframe to dictionary in pandas WITHOUT index

## Input

In [4]:
import pandas as pd

## Data:

In [16]:
dic = {
    'rows' : ["row1", "row1", "row1", "row2", "row2", "row2", "row3", "row3", "row3"],
    'columns' : ['column1', 'column2', 'column3', 'column1', 'column2', 'column3', 'column1', 'column2', 'column3'],
    'values' : [0, 2, 3, 4, 5, 6, 7, 8, 9]
}
df = pd.DataFrame(dic)
df

   rows  columns  values
0  row1  column1       0
1  row1  column2       2
2  row1  column3       3
3  row2  column1       4
4  row2  column2       5
5  row2  column3       6
6  row3  column1       7
7  row3  column2       8
8  row3  column3       9

## Model:

In [31]:


def update_data(df_init):
    # Drop duplicates
    df = df_init.copy()
    df = df.drop_duplicates()

    # Pivot 
    df = pd.pivot(df, index=['rows'], values='values', columns='columns')
    df.loc[:, "rows"] = df.index.get_level_values(0)
    df = df.reset_index(drop=True)
    #df.reset_index(drop=True)
    df = df.reindex( columns = ['rows','column1','column2','column3'])
    
    return df

In [32]:
update_data(df)

columns  rows  column1  column2  column3
0        row1        0        2        3
1        row2        4        5        6
2        row3        7        8        9