<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Rename Columns in dataframe
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/template.ipynb" target="_parent">
<img src="https://img.shields.io/badge/-Open%20in%20Naas-success?labelColor=000000&logo="/>
</a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=bug_report.md&title=[ERROR]+Tool+/+Folder+Action+of+the+notebook+">Bug report</a>

**Tags:** #pandas #snippet #datacleaning #operations

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

**Description:** This notebook renames columns in a dataframe.

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup DataFrame

In [2]:
#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'A', 'B', 'B', 'B'],
                   'points': [11, 7, 8, 10, 21, 13],
                   'assists': [5, 7, 7, 9, 12, 0],
                   'rebounds': [5, 8, 10, 6, 6, 22]})
df

  team  points  assists  rebounds
0    A      11        5         5
1    A       7        7         8
2    A       8        7        10
3    B      10        9         6
4    B      21       12         6
5    B      13        0        22

### Define columns to rename
This function will not throw an error if column does not exist in dataframe.

In [3]:
# dict of columns with new names
to_rename = {
    'team': "equipo",
    'points': "puntos",
    'assists': "asistancias",
    'rebounds': "rebotes",
    "col": "new_col"
}

## Model

### Rename columns in dataframe

In [4]:
df = df.rename(columns=to_rename)

## Output

### View new DataFrame

In [5]:
df

  equipo  puntos  asistancias  rebotes
0      A      11            5        5
1      A       7            7        8
2      A       8            7       10
3      B      10            9        6
4      B      21           12        6
5      B      13            0       22