<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Drop columns by index
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandas/Pandas_Drop_First_column.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=bug&template=bug_report.md&title=Pandas+-+Drop+First+column:+Error+short+description">Bug report</a>

**Tags:** #pandas #snippet #datacleaning #operations

**Author:** [Sunny Chugh](https://www.linkedin.com/in/sunny-chugh-ab1630177/)

**Description:** This notebook shows how to drop columns in Pandas DataFrame by index.

<u>Reference:</u> https://www.statology.org/pandas-drop-column-by-index/

## Input

### Import libraries

In [35]:
import pandas as pd

### Setup DataFrame

In [36]:
#create DataFrame
df = pd.DataFrame({'team': ['Mavs', 'Lakers', 'Spurs', 'Cavs'],
                   'first': ['Dirk', 'Kobe', 'Tim', 'Lebron'],
                   'last': ['Nowitzki', 'Bryant', 'Duncan', 'James'],
                   'points': [26, 31, 22, 29]})
df

     team   first      last  points
0    Mavs    Dirk  Nowitzki      26
1  Lakers    Kobe    Bryant      31
2   Spurs     Tim    Duncan      22
3    Cavs  Lebron     James      29

## Model

### Method : Use drop
The following code shows how to use the drop() function to drop the multiple columns of the pandas DataFrame by index.

In [37]:
#Copy init dataframe
df1 = df.copy()
cols = [0, 1, 3] 
df1.drop(df1.columns[cols], axis=1, inplace=True)
print(df1)

       last
0  Nowitzki
1    Bryant
2    Duncan
3     James

## Output

### Display result

In [38]:
columns_dropped = ""
for column in cols:
    columns_dropped = columns_dropped +  df.columns[column] + ", "
print("The Columns- " +column_list + "are removed from dataframe")

The Columns- team, first, points, are removed from dataframe