<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Apply custom styles on column

**Tags:** #pandas #dataframe #style #column #apply #custom

**Author:** [Benjamin Filly](https://www.linkedin.com/in/benjamin-filly-05427727a/)

**Last update:** 2023-07-25 (Created: 2023-07-24)

**Description:** This notebook will show how to apply custom styles on a column of a Pandas DataFrame. It is usefull for data analysis and data visualization.

**References:**
- [Pandas Documentation - Styling](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)
- [Pandas Documentation - Styling with functions](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Styling-with-functions)

## Input

### Import libraries

In [12]:
import pandas as pd

### Setup Variables

In [13]:
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [95, -80, 70, -60, 85],
    'Age': [25, 32, 18, 40, 28],
    'Sales': [1200, 980, 1500, 850, 1750]
}

df = pd.DataFrame(data)

## Model

### Highlight negative
In this example, we use a custom style function highlight_negative that applies the CSS attribute color: red to any cell in the `Score` column that contains a negative value. This will change the text color of negative values to red, making them stand out in the DataFrame.

In [25]:
df_highlight_negative = df.copy() # Copying the dataframe df into another variable

# Define a function that returns the CSS styles based on the values of the column
def highlight_negative(s):
    return ['color: red' if value < 0 else '' for value in s]

df_highlight_negative = df_highlight_negative.style.apply(highlight_negative, subset=['Score'])
df_highlight_negative

### Color scale
The `color_scale` function applies a color scale to the `Age` column of the DataFrame. It assigns blue color to smaller values and red color to larger values, with varying intensity based on the values' magnitudes.

In [21]:
df_color_scale = df.copy()

def color_scale(s):
    min_val = min(s)
    max_val = max(s)
    color_range = ['background-color: blue; opacity: 0.6',
                   'background-color: rgb(255, 0, 0); opacity: 0.6']
    normalized_values = (s - min_val) / (max_val - min_val)
    color_mapped = pd.cut(normalized_values, bins=[-0.001, 0.5, 1], labels=color_range)
    return color_mapped

# Apply the custom styles to the 'Age' column
df_color_scale = df_color_scale.style.apply(color_scale, subset=['Age'])

# Display the styled DataFrame
df_color_scale

### Highlight Max
This style function is applied to the 'Sales' column, highlighting the cell with the maximum value using a purple background.

In [17]:
df_highlight_max = df.copy()

def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: purple' if v else '' for v in is_max]

df_highlight_max = df_highlight_max.style.apply(highlight_max, subset=['Sales'])
df_highlight_max

## Output

### Display result

In [24]:
# Apply the custom styles to different columns
styled_df = df.style.apply(highlight_negative, subset=['Score']) \
                      .apply(color_scale, subset=['Age']) \
                      .apply(highlight_max, subset=['Sales']) # Put "\" when you want to apply more style

# Display the styled DataFrame
styled_df