<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Get n smallest

**Tags:** #pandas #dataframe #nsmallest #python #data #analysis

**Author:** [Benjamin Filly](https://www.linkedin.com/in/benjamin-filly-05427727a/)

**Description:** This notebook explains how to use the `nsmallest` function from the Pandas library to get the n smallest values from column in a DataFrame.

**References:**
- [Pandas Documentation - nsmallest](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nsmallest.html)
- [Stack Overflow - nsmallest](https://stackoverflow.com/questions/50995090/pandas-dataframe-nsmallest-function)

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup Variables
- `n`: Number of items to retrieve.
- `column`: Column name or names to order by.

In [2]:
n = 2
column = "Age"

## Model

### Create dataframe

In [3]:
# Create a fake dataset
data = {
    "Name": ["Tom", "nick", "krish", "jack"],
    "Age": [20, 21, 19, 18]
}

# Create a DataFrame
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

## Output

### Get n smallest values
The `nsmallest` function from the Pandas library allows to get the n smallest values from a DataFrame.

In [4]:
# Display the result
df.nsmallest(n, column)

    Name  Age
3   jack   18
2  krish   19