<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Drop Duplicate Columns in Pandas
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandas/Pandas_Drop_Columns.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=bug&template=bug_report.md&title=Pandas+-+Drop+Columns:+Error+short+description">Bug report</a>

**Tags:** #pandas #snippet #datacleaning #operations

**Author:** [Sunny Chugh](https://www.linkedin.com/in/sunny-chugh-ab1630177/)

**Description:** This notebook shows how to define a new DataFrame that drops duplicate columns in the dataframe

<u>Reference:</u> https://www.statology.org/pandas-drop-duplicate-columns/

## Input

### Import libraries

In [41]:
import pandas as pd

### Setup DataFrame

In [42]:
#create DataFrame with duplicate columns
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'points1': [25, 12, 15, 14, 19, 23, 25, 29],
                   'points2': [25, 12, 15, 14, 19, 23, 25, 29],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12]})

#df.columns = ['team', 'points', 'points', 'rebounds']

#view DataFrame
df

  team  points1  points2  rebounds
0    A       25       25        11
1    A       12       12         8
2    A       15       15        10
3    A       14       14         6
4    B       19       19         6
5    B       23       23         5
6    B       25       25         9
7    B       29       29        12

## Model

### Drop Duplicate columns 
It will drop duplicate columns even if column names are different

In [43]:
def drop_columns():
    return df.T.drop_duplicates().T

## Output

### View new DataFrame

In [44]:
df1 = drop_columns()
df1

  team points1 rebounds
0    A      25       11
1    A      12        8
2    A      15       10
3    A      14        6
4    B      19        6
5    B      23        5
6    B      25        9
7    B      29       12