<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Transform dataframe to dict
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/YahooFinance/YahooFinance_Get_data_from_ticker.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #pandas #dataframe #format #snippet #yahoofinance #naas_drivers

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

With this template, you can convert a series of number nicely using pandas.map

## Input

### Import libraries

In [1]:
from naas_drivers import yahoofinance

### Input parameters

In [2]:
ticker = "TSLA"
date_from = -100
date_to = 'today'

## Model

### Get dataframe from Yahoo Finance

In [3]:
df_yahoo = yahoofinance.get(ticker,
                            date_from=-5)
df_yahoo

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-03-02,872.130005,886.479980,844.270020,879.890015,879.890015,24881100,TSLA
1,2022-03-03,878.770020,886.440002,832.599976,839.289978,839.289978,20541200,TSLA
2,2022-03-04,849.099976,855.650024,825.159973,838.289978,838.289978,22333200,TSLA
3,2022-03-07,856.299988,866.140015,825.290100,829.500000,829.500000,13836253,TSLA

## Output

### Format number nicely
Get more information in the doc [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html)

In [7]:
df_yahoo['VALUE'] = df_yahoo['Close'].map("€ {:,.2f}".format).str.replace(",", " ")
df_yahoo

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,VALUE
0,2022-03-02,872.130005,886.479980,844.270020,879.890015,879.890015,24881100,TSLA,€ 879.89
1,2022-03-03,878.770020,886.440002,832.599976,839.289978,839.289978,20541200,TSLA,€ 839.29
2,2022-03-04,849.099976,855.650024,825.159973,838.289978,838.289978,22333200,TSLA,€ 838.29
3,2022-03-07,856.299988,866.140015,825.290100,829.500000,829.500000,13836253,TSLA,€ 829.50