<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandas - Sort values by multiples columns

**Tags:** #pandas #dataframe #sort #columns #values #multiples

**Author:** [Benjamin Filly](https://www.linkedin.com/in/benjamin-filly-05427727a/)

**Description:** This notebook will show how to sort values by multiples columns in Pandas. It is usefull for data analysis and data manipulation.

**References:**
- [Pandas - Sort values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)
- [Pandas - Tutoriel Sort Value](https://www.geeksforgeeks.org/python-pandas-dataframe-sort_values-set-2/)

## Input

### Import libraries

In [1]:
import pandas as pd

### Setup Variables

- `data`: A dictionary that holds the dataset with information about individuals, including their names, ages, and scores.
- `df`:  A DataFrame created from the `data` dictionary, representing the dataset in a tabular form with columns for name, age, and score.

In [2]:
# Create a dataframe
data = {
    "Name": ["Tom", "nick", "krish", "jack"],
    "Age": [20, 21, 19, 18],
    "Score": [99, 98, 95, 90],
}
df = pd.DataFrame(data)

## Model

### Sort values by multiples columns

In [3]:
# Sort the DataFrame by multiple columns
sorted_df = df.sort_values(by=['Score', 'Age'], ascending=[False, True], ignore_index=True)

## Output

### Display result

In [4]:
sorted_df

    Name  Age  Score
0    Tom   20     99
1   nick   21     98
2  krish   19     95
3   jack   18     90