<img width="8%" alt="Pandas.png" src="https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/.github/assets/logos/Pandas.png" style="border-radius: 15%">

# Pandas - Performing mathematical operations on dataframe
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandas/Pandas_Apply_custom_styles_on_column.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/Open_in_Naas_Lab.svg"/></a><br><br><a href="https://bit.ly/3JyWIk6">Give Feedback</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=bug&template=bug_report.md&title=Pandas+-+Apply+custom+styles+on+column:+Error+short+description">Bug report</a>

**Tags:** #pandas #dataframe #style #column #apply #custom

**Author:** [Siddharth Goyal](https://www.linkedin.com/in/siddharth-goyal-8b1a4814b/)

**Last update:** 2023-11-22 (Created: 2023-11-22)

**Description:** This notebook will help the users to perform mathematical operation like, sum, median, mode, mean, standard deviation, count on the data present in a column of dataframe

**References:**
- [Pandas Documentation - Sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)
- [Pandas Documentation - Mean](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)
- [Pandas Documentation - Mode](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html)
- [Pandas Documentation - Median](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html)
- [Pandas Documentation - Standard Deviation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html)
- [Pandas Documentation - Count](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html)

## Input

### Import libraries

In [11]:
import pandas as pd

## Model

### Create DataFrame

In [80]:
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eva'],
    'Score': [95, -80, 70, -80, 85],
    'Age': [25, 32, 18, None, 28],
    'Sales': [1200, 980, 1500, 850, 1750]
}

df = pd.DataFrame(data)

In [81]:
df

      Name  Score   Age  Sales
0    Alice     95  25.0   1200
1      Bob    -80  32.0    980
2  Charlie     70  18.0   1500
3    Alice    -80   NaN    850
4      Eva     85  28.0   1750

### Sum
The `sum` function will help to get the sum of any column in the dataframe

In [82]:
#We will do this the mathematical operations on column Age

ageSum = df['Age'].sum()

### Mean
The `mean` function will help to get the mean of any column in the dataframe

In [83]:
#We will do this the mathematical operations on column Age

ageMean = df['Age'].mean()
ageMean

25.75

### Mode
The `mode` function will help to get the unique values of a row in the dataframe

In [84]:
#We will do this the mathematical operation on Age column

NameMode = df['Name'].mode()

### Median
The `median` function will help to get the median of any column in the dataframe

In [85]:
#We will do this the mathematical operations on column Age

ageMedian = df['Age'].median()

### Standard Deviation
The `std` function will help to get the Standard Deviation of any column in the dataframe

In [86]:
#We will do this the mathematical operations on column Age

ageStandDev = df['Age'].std()

### Count
The `count` function will help to get the total number of non Null rows of any column in the dataframe

In [89]:
#We will do this the mathematical operations on column Age

notNullCount = df['Age'].count()

## Output

In [88]:
print("Sum of Age Column is: ", ageSum)
print("Mean of Age Column is: ", ageMean)
print("Mode of Name Column is:\n", NameMode)
print("Median of Age Column is: ",ageMedian)
print("Standard Deviation of Age Column is: ", ageStandDev)
print("Count of non-null rows in Name column: ", notNullCount)

Sum of Age Column is:  103.0
Mean of Age Column is:  25.75
Mode of Name Column is:
 0    Alice
dtype: object
Median of Age Column is:  26.5
Standard Deviation of Age Column is:  5.909032633745278
Count of non-null rows in Name column:  4