<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

## Snowflake - Reading tables in a database

<img width="20%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/vaqyx6is.png?w=400&h=200&fit=crop"/>

## Step 1 - Insert your credentials

In [1]:
username = "sanjaynaas"
password = "Password123"

## Step 2 - Specify your account details

In [2]:
account = "iz84541.europe-west4.gcp"
database = "DEMO_DB"
table_name = "NAAS"
warehouse_name = "COMPUTE_WH"
schema_name = "PUBLIC"

## Step 3 - Connecting to Snowflake

In [3]:
from snowflakeconnector import SnowflakeConnector
import snowflake.connector as snow
conn = snow.connect(user=username,password=password,account=account)
cur = conn.cursor()
instance = SnowflakeConnector(username,password,account,database)

Establishing connection to Snowflake
Connection established

## Step 4 - Setting the environment

In [4]:
admin = "USE ROLE SYSADMIN"
cur.execute(admin)
warehouse_selection = "USE WAREHOUSE " + warehouse_name
cur.execute(warehouse_selection)
database_selection = "USE DATABASE " + database
cur.execute(database_selection)
schema_selection = "USE SCHEMA " + schema_name
cur.execute(schema_selection)

## Step 5 - To see contents of table

In [5]:
table_display_query = "select * from " + table_name
#Fetch records from Snowflake database
instance.execute_query(table_display_query,query_type="pull")

Executing Query

           0     1          2           3    4
0    January  2020  Product A     10000.0  USD
1    January  2020  Product B    230000.0  USD
2    January  2020  Product C    250000.0  USD
3   February  2020  Product D     30000.0  USD
4   February  2020  Product E     36000.0  USD
5    Febuary  2020  Product F  23202100.0  USD
6    Febuary  2020  Product G   6720100.0  USD
7    Febuary  2020  Product H  17232000.0  USD
8    Febuary  2020  Product F  23202100.0  USD
9    Febuary  2020  Product G   6720100.0  USD
10   Febuary  2020  Product H  17232000.0  USD
11   Febuary  2020  Product F  23202100.0  USD
12   Febuary  2020  Product G   6720100.0  USD
13   Febuary  2020  Product H  17232000.0  USD

## Step 6 - Reading data from the table

In [6]:
data = instance.execute_query(table_display_query,query_type="pull")

Executing Query

## Step 7 - Fetching table details

In [7]:
table_description_query = "DESCRIBE " + table_name
table_details = instance.execute_query(table_description_query,query_type="pull")
header = table_details[0]

Executing Query

## Step 8 - Preparing csv file

In [9]:
import pandas as pd
data = pd.DataFrame(data)
data.columns=[header]
data.to_csv('naas_output.csv')
data

0      MONTH  YEAR       ITEM      AMOUNT CURRENCY
0    January  2020  Product A     10000.0      USD
1    January  2020  Product B    230000.0      USD
2    January  2020  Product C    250000.0      USD
3   February  2020  Product D     30000.0      USD
4   February  2020  Product E     36000.0      USD
5    Febuary  2020  Product F  23202100.0      USD
6    Febuary  2020  Product G   6720100.0      USD
7    Febuary  2020  Product H  17232000.0      USD
8    Febuary  2020  Product F  23202100.0      USD
9    Febuary  2020  Product G   6720100.0      USD
10   Febuary  2020  Product H  17232000.0      USD
11   Febuary  2020  Product F  23202100.0      USD
12   Febuary  2020  Product G   6720100.0      USD
13   Febuary  2020  Product H  17232000.0      USD