<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Snowflake - Creating a table in Snowflake

<img width="20%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/vaqyx6is.png?w=400&h=200&fit=crop"/>

## Step 1 - Insert your credentials

In [1]:
username = "sanjaynaas"
password = "Password123"

## Step 2 - Specify your account details

In [2]:
account = "iz84541.europe-west4.gcp"
database = "DEMO_DB"
table_name = "NAAS_NEW"
warehouse_name = "COMPUTE_WH"
schema_name = "PUBLIC"

## Step 3 - Connecting to Snowflake

In [3]:
from snowflakeconnector import SnowflakeConnector
import snowflake.connector as snow
conn = snow.connect(user=username,password=password,account=account)
cur = conn.cursor()
instance = SnowflakeConnector(username,password,account,database)

Establishing connection to Snowflake
Connection established

## Step 4 - Setting the environment

In [4]:
admin = "USE ROLE SYSADMIN"
cur.execute(admin)
warehouse_selection = "USE WAREHOUSE " + warehouse_name
cur.execute(warehouse_selection)
database_selection = "USE DATABASE " + database
cur.execute(database_selection)
schema_selection = "USE SCHEMA " + schema_name
cur.execute(schema_selection)

## Step 5 - Table Creation

In [5]:
table_creation = "CREATE TABLE " + table_name + "(MONTH varchar, YEAR int,ITEM varchar,AMOUNT int,CURRENCY varchar)"
cur.execute(table_creation)

## Step 6 - Loading the csv

In [6]:
import csv
with open('Excel-Sales_Feb2020.csv') as f:
    reader = csv.reader(f)
    d_list = list(reader)
d_list

[['MONTH', 'YEAR', 'ITEM', 'AMOUNT', 'CURRENCY'],
 ['Febuary', '2020', 'Product F', '23202100', 'USD'],
 ['Febuary', '2020', 'Product G', '6720100', 'USD'],
 ['Febuary', '2020', 'Product H', '17232000', 'USD']]

## Step 7 - Inserting into the table

In [7]:
for i in range(1,len(d_list)):
    table_insert_csv_query= "INSERT INTO " + table_name + " VALUES"
    table_insert_csv_query = table_insert_csv_query +str(tuple(d_list[i]))
    instance.execute_query(table_insert_csv_query,query_type="push")

Executing Query
Query Successful!
Executing Query
Query Successful!
Executing Query
Query Successful!

## Step 8 - Showing the updated table

In [8]:
table_display_query = "SELECT * FROM " + table_name
#Fetch records from Snowflake database
instance.execute_query(table_display_query,query_type="pull")

Executing Query

         0     1          2         3    4
0  Febuary  2020  Product F  23202100  USD
1  Febuary  2020  Product G   6720100  USD
2  Febuary  2020  Product H  17232000  USD