<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandasql - Query CSV Using SQL
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandasql/Pandasql_Query_CSV_Using_SQL.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=bug&template=bug_report.md&title=D-Tale+-+Visualize+dataframe:+Error+short+description">Bug report</a>

**Tags:** #csv #pandas #snippet #read #dataframe #sql #pandasql #operations

**Author:** [Minura Punchihewa](https://www.linkedin.com/in/minurapunchihewa/)

## Input

### Install D-Tale

In [ ]:
! pip install pandasql

### Import libraries

In [6]:
import pandas
from pandasql import sqldf

### Variables

In [16]:
csv_path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
query = """
    SELECT
        Lat, Long
    FROM df
"""

## Model

### Read the CSV from path

In [17]:
df = pandas.read_csv(csv_path)

In [18]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/25/23,1/26/23,1/27/23,1/28/23,1/29/23,1/30/23,1/31/23,2/1/23,2/2/23,2/3/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,208324,208324,208432,208435,208435,208502,208545,208552,208669,208669
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334124,334135,334144,334153,334157,334157,334167,334177,334187,334203
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271360,271364,271369,271369,271376,271376,271378,271385,271386,271394
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47820,47820,47820,47839,47839,47839,47839,47839,47839,47850
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105184,105184,105184,105184,105184,105184,105184,105184,105184,105184

## Output

### Run the query against the CSV file

In [19]:
output_df = sqldf(query)

ObjectNotExecutableError: Not an executable object: '\n    SELECT\n        Lat, Long\n    FROM df\n'

### View results of the query

In [ ]:
output_df