<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# Pandasql - Query CSV Using SQL
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/Pandasql/Pandasql_Query_CSV_Using_SQL.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a><br><br><a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=&template=template-request.md&title=Tool+-+Action+of+the+notebook+">Template request</a> | <a href="https://github.com/jupyter-naas/awesome-notebooks/issues/new?assignees=&labels=bug&template=bug_report.md&title=D-Tale+-+Visualize+dataframe:+Error+short+description">Bug report</a>

**Tags:** #pandas #csv #snippet #read #dataframe #sql #pandasql #operations

**Author:** [Minura Punchihewa](https://www.linkedin.com/in/minurapunchihewa/)

**Description:** This notebook demonstrates how to use Pandasql to query CSV files as if they were relational databases, using SQL syntax. The aim is to provide an alternative to traditional Pandas methods for filtering, grouping, and aggregating data, and make it easier for users who are familiar with SQL to perform these tasks.

## Input

### Install pandasql and SQLAlchemy 1.4.46

In [1]:
! pip install pandasql
! pip install sqlalchemy==1.4.46

Requirement already satisfied: pandasql in /home/minura/.local/lib/python3.8/site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /home/minura/anaconda3/envs/awesome-notebooks/lib/python3.8/site-packages (from pandasql) (1.4.46)
Requirement already satisfied: pandas in /home/minura/.local/lib/python3.8/site-packages (from pandasql) (1.5.3)
Requirement already satisfied: numpy in /home/minura/.local/lib/python3.8/site-packages (from pandasql) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in /home/minura/.local/lib/python3.8/site-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/minura/.local/lib/python3.8/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/minura/.local/lib/python3.8/site-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /home/minura/anaconda3/envs/awesome-notebooks/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.12.0)
WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the '/home/minura/anaconda3/envs/awesome-notebooks/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: sqlalchemy==1.4.46 in /home/minura/anaconda3/envs/awesome-notebooks/lib/python3.8/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /home/minura/.local/lib/python3.8/site-packages (from sqlalchemy==1.4.46) (2.0.2)
WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the '/home/minura/anaconda3/envs/awesome-notebooks/bin/python -m pip install --upgrade pip' command.

### Import libraries

In [2]:
import pandas
from pandasql import sqldf

### Variables

In [3]:
csv_path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
query = """SELECT * FROM df;"""

## Model

### Read the CSV from path

In [4]:
df = pandas.read_csv(csv_path)

## Output

### Run the query against the CSV file

In [5]:
output_df = sqldf(query)

### View results of the query

In [6]:
output_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/25/23,1/26/23,1/27/23,1/28/23,1/29/23,1/30/23,1/31/23,2/1/23,2/2/23,2/3/23
0,None,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,208324,208324,208432,208435,208435,208502,208545,208552,208669,208669
1,None,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334124,334135,334144,334153,334157,334157,334167,334177,334187,334203
2,None,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271360,271364,271369,271369,271376,271376,271378,271385,271386,271394
3,None,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47820,47820,47820,47839,47839,47839,47839,47839,47839,47850
4,None,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105184,105184,105184,105184,105184,105184,105184,105184,105184,105184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,None,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,None,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,None,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,None,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,339743,339949,340172,340172,340172,340582,340763,340944,341261,341397
288,None,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,261606,261606,261606,261606,261606,261606,261606,262324,262324,262324